# Bytecode / caches
__pycache__/
.ipynb_checkpoints/
.DS_Store

# Environments
.env/
.venv/

# Weights / artifacts
*.pth
*.pt
submission.csv
runs/
checkpoints/
outputs/

# Data (not tracked)
all-shapes-and-colors-v-2/train_dataset/
all-shapes-and-colors-v-2/test_dataset/
all-shapes-and-colors-v-2/*.csv

# Misc
*.log
